@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome FINAP</h1>
    <p>Learn about <a href="http://fintechasiapacific.com/">Fintechnology Asia Pacific Lanka</a>.</p>
</div>


<div class="btn-block">
   
    <button class="btn btn-info" onclick="window.location.href='https://localhost:44306/job/Add';">
    <p style="font-weight: bold; margin-top:10px;">Click Here to Add Job</p>
    </button>
</div>